USE [master]
GO
/****** Object:  Database [BDSeminarioI]    Script Date: 24/05/2020 22:37:31 ******/
CREATE DATABASE [BDSeminarioI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDSeminarioI', FILENAME = N'D:\USS\IX CICLO\SEMINARIO AVANZO I\Crud_4Capas_Grupo3\BD\BDSeminarioI.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BDSeminarioI_log', FILENAME = N'D:\USS\IX CICLO\SEMINARIO AVANZO I\Crud_4Capas_Grupo3\BD\BDSeminarioI_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDSeminarioI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDSeminarioI]
GO
/****** Object:  Table [dbo].[TblCliente]    Script Date: 24/05/2020 22:37:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblCliente](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[RazonSocialCli] [varchar](100) NOT NULL,
	[RucClie] [char](11) NOT NULL,
	[DireccionClie] [varchar](100) NULL,
	[CelularCli] [varchar](11) NULL,
	[FijoCli] [varchar](11) NULL,
	[ZonaCli] [varchar](50) NULL,
 CONSTRAINT [PK__TblClien__D5946642859470FA] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TblCliente] ON 

INSERT [dbo].[TblCliente] ([IdCliente], [RazonSocialCli], [RucClie], [DireccionClie], [CelularCli], [FijoCli], [ZonaCli]) VALUES (1, N'LA CIMA SA.', N'10444800378', N'JR. LAS ALCACIAS 5454 - LIMA - LIMA', N'976952211', N'076351537', N'SIERRA - NORTE')
INSERT [dbo].[TblCliente] ([IdCliente], [RazonSocialCli], [RucClie], [DireccionClie], [CelularCli], [FijoCli], [ZonaCli]) VALUES (2, N'EDIPESA', N'204567890  ', N'JR.', N'444', N'3434', N'43434')
INSERT [dbo].[TblCliente] ([IdCliente], [RazonSocialCli], [RucClie], [DireccionClie], [CelularCli], [FijoCli], [ZonaCli]) VALUES (4, N'ELMER CIEZA RIOS', N'32222222222', N'AV. PIZARRO', N'976952211', N'076456089', N'BAGUA')
SET IDENTITY_INSERT [dbo].[TblCliente] OFF
USE [master]
GO
